@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.container-left {
  background: #82aae3;
  position: absolute;
  width: 832px;
  height: 828px;
  left: 0px;
  top: 0px;
}
.img {
  position: absolute;
  width: 820px;
  height: 445px;
  left: 34px;
  top: 172px;
}
.container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 360px;
  height: 373px;
  left: 896px;
  top: 144px;
}
.form-group input {
  all: unset;
  background: #f6f6f6;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 10px 78px;
  margin-bottom: 24px;
  font-size: 15px;
}
.subhead {
  color: #737373;
  font-size: 15px;
}
.ques {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}
.switch {
  max-width: 40px;
  position: absolute;
  margin: 2px 8px;
  accent-color: #82aae3;
}
.remb {
  padding: 0px 46px;
  margin-left: -18px;
  margin-bottom: 4px;
}
.btn {
  position: absolute;
  margin: 24px 2px;
  width: 342px;
  height: 36px;
  background: #2d2d2d;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}
.line {
  background: #cecaca;
  margin: 97px auto;
}
.ques2 {
  margin: 67px 30px;
  margin-top: -72px;
  color: #737373;
}
.lnk {
  color: #82aae3;
  font-weight: bold;
  text-decoration: none;
}
.logo {
  margin: -16px 45px;
  max-width: 120px;
}
.link1 {
  color: #82aae3;
  font-weight: bold;
  text-decoration: none;
}
.condition {
  margin: -1px 26px;
}
